CFLAGS
MATLABPATH
PERL5LIB
bin
dat
plot
tex
uni
dat-*
plot-*
octave-workspace
konect-toolbox
konect-extr
konect-handbook
stu-utils
syngraphy
error.log
tmp.runtime
lib/BibTeX
lib/LaTeX
lib/HTML
lib/BibTeX-Parser-*.tar.gz
lib/HTML-Parser-*.tar.gz
lib/LaTeX-ToUnicode-*.tar.gz
